section{
  h1 {
    font-size: 80px;
    margin: 30px 0;
  }
  height: 80vh;
  .inputs{
  // box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.1);
border-left: 2px solid white;
.info{
  opacity: 0.7;
  color: #fcd51a;

span{
  color: #00a0e1;

}
}
  }
  .image{


background-image: url('../../../assets/images/Contact\ us-bro.svg');
  }
}

.ani{

    opacity: 1;
    animation: slideInLeft;
    animation-duration: 1s;
}
