<section class=" container">
  <!-- <h1 class=" text-center">Contact Us</h1> -->
  <div class="row h-100 d-flex align-items-center justify-content-center ">
    <div class="col-8 p-0 h-75 row ani">

      <div class="col-lg-6 col-12 inputs d-flex align-items-start justify-content-between flex-column">

        <div class=" col-12 d-flex flex-column align-items-end reveal">
          <h2 class="text-center w-100 fw-semibold pb-3">Send Us Your Message</h2>
          <textarea  name="" id="" class=" border-0 border-bottom h-100 box-shadow rounded-3 p-3 ani"
            placeholder="Your Message"></textarea>
          <div class="w-25 me-4"><app-button></app-button></div>
        </div>

       <div class=" col-12 d-flex flex-column reveal mb-2 pb-3">
        <h2 class="text-center w-100 fw-semibold py-3">Or Contact Us Directly</h2>
          <p class="info ani">Phone1: <span class=" ">+9665 661 330 70 </span></p>
          <p class="info ani py-3">Phone2: <span>+9053 425 666 57</span></p>
          <p class="info ani">Email: <span>admin@Xcompany.agency</span></p>
        </div>

      </div>
      <div class="col-lg-6 col-12 h-100 image rounded-3 bg-opacity-25 ani"></div>

    </div>
  </div>
</section>
