<section class=" container  ">
  <h1 class=" text-center">Contact Us</h1>

  <div class="row h-100 d-flex align-items-center justify-content-center ">
    <div class="col-8 p-0 h-75 row ani">
      <div class="col-6 inputs d-flex align-items-start justify-content-between flex-column">
        <div class=" col-12 d-flex flex-column align-items-end reveal">
          <textarea  name="" id="" class=" border-0 border-bottom w-100 h-100 box-shadow rounded-3 p-3 ani"
            placeholder="Message"></textarea>
          <div class=" w-25"><app-button></app-button></div>
        </div>

        <div>
          <!-- <div class=" d-flex align-items-center justify-content-">
            <p>phone</p>
            <div><p>redsfvg</p> <p>redsfvg</p></div>
          </div> -->
          <p class="info ani">Phone1: <span class=" ">+9665 661 330 70 </span></p>
          <p class="info ani">Phone2: <span>+9053 425 666 57</span></p>
          <p class="info ani">Email: <span>admin@velocity360.agency</span></p>
        </div>

      </div>
      <div class="col-6 image bg-white rounded-3 bg-opacity-25 ani"></div>
    </div>
  </div>
</section>
