section {
  h1 {
    font-size: 80px;
    margin: 30px 0;
  }
  height: 80vh;
  textarea{
    width: 90%;
    margin: auto;
  }
  .inputs {
    // box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.1);
    border-left: 2px solid rgb(0, 0, 0);
    .info {
      opacity: 0.7;
      font-weight: 600;
      color: #fcd51a;
      span {
        color: #00a0e1;
      }
    }
  }
  .image {
    background-image: url('../../../assets/images/Contact\ us-bro.svg');
    background-color: rgb(255, 219, 88) !important;
  }
}

.ani {
  opacity: 1;
  animation: slideInLeft;
  animation-duration: 1s;
}
