.user {
  background-color: rgba(0, 0, 0, 0.2);
  // box-shadow: 5px 5px 5px 0px rgba(86, 81, 81, 0.537);

  backdrop-filter: blur(5px);

  border-radius: 100px;
z-index: 9;
  &:hover {
  background-color: rgba(199, 199, 199, 0.2);

  }
.dropdown{

}
  .dropdown-toggle {


    .dropdown-menu {

    }

    &::after {
      display: none;
    }
  }
}
