<section [ngClass]="!style?'open':'close'" class=" pt-5 scroll transition">
  <div class=" position-absolute top-0 start-0 m-3 text-black cursor-pointer" (click)="close()"><i class="bi bi-x-lg"></i></div>

<div class="row mb-4" *ngFor="let item of userData.cartSchema">
  <div #item class=" box-shadow p-4">
    <div  class="col-12 img d-flex align-items-center justify-content-end" style="background-image: url({{item.productId.image}});">
      <i class="bi bi-trash-fill fs-4 cursor-pointer text-danger"  (click)="removeFromCart(item._id)"></i>
    </div>
    <div class="col-12">
      <p>{{item.productId.servicesName}}</p>
      <p class="main-color2">{{item.productId.servicesPrice}}$</p>
    </div>
  </div>
</div>


<div class="row px-4">
  <div class=" d-flex align-items-center justify-content-between">
    <h2>total: </h2>
    <h2>{{total}}$</h2>
  </div>
  <button class=" btn btn-light rounded-3 box-shadow mt-3 mb-2" (click)="clearCart()">Clear</button>
  <button class=" btn btn-main rounded-3 box-shadow">Check out</button>
</div>
</section>
