section {
  height: 90vh;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 20px;
    width: 35rem;
    height: 35rem;
    background-image: url(../../../assets/images/svgs/2-removebg-preview.png);
    background-repeat: no-repeat;
    background-size: 100%;
  }

  .main {

    @media screen and (min-width: 1600px) {
      bottom: 900px;
    }

    @media screen and (max-width: 1600px) and (min-width:1000px) {
      bottom: 600px;
    }

    @media screen and (max-width: 992px) {
      bottom: 450px;
    }

    @media screen and (max-width: 768px) {
      bottom: 350px;
    }
  }

  .signUpErrs {
    p {
      color: rgb(137, 0, 0);
    }
  }

  @keyframes blob {
    0% {
      transform: scale(1);
    }

    50% {
      transform: scale(1.2);
    }

    100% {
      transform: scale(1);
    }
  }
  svg {
    width: 35% !important;
    animation: blob 3s ease-in-out infinite;
  }
  form {
    button {
      background-color: orange;
    }
  }
}
