footer {
  // overflow: hidden !important;
  background: linear-gradient(180deg, #85c9f9, #03678f, #023143);
  @media screen and (max-width:992px) and (min-width:767px) {
    margin-top: 28rem !important;
  }
  @media screen and (max-width:767px) and (min-width:300px) {
    margin-top: 28rem !important;
  }
  .bgLogo {
    width: 20rem;
    height: 13rem;
    background-image: url(../../../assets/images/logo1.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  p {
    line-height: 1.8;
  }

  h4 {
    font-family: 'Dancing Script', cursive;
  }

  button {
    background: linear-gradient(35deg, #00a5e5, #cfb733, #a7b93d);
    transition: 1s;
    &:hover {
      background: linear-gradient(to left , #fcd51a  , #b4d401);
      transition: 1s !important;
    }
  }
}
