<footer class="pt-5 pb-3">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-12 mt-4 p-5 m-auto" >
        <h1 data-aos="fade-right" class="pb-3 text-white fw-bold">Lorem ipsum dolor sit amet.</h1>
        <p data-aos="fade-right" class="w-75 text-white text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae, reprehenderit aliquam in id provident tenetur!</p>
        <button data-aos="fade-left" class="btn text-white fs-3 fw-semibold my-3 rounded-5 px-3" routerLink="/signUp">Sign Up Now</button>
        <br>
        <!-- <button data-aos="fade-right" class="btn text-white fs-3 fw-semibold rounded-5 px-3" routerLink="/ourClients">See More Of Our Work</button> -->
        <!-- <h4 class="fs-2 fw-bold py-3 text-end">OR</h4> -->
      </div>
      <div class="col-md-6 col-12 d-flex justify-content-center align-items-center" data-aos="zoom-in">
        <div class="bgLogo"></div>
      </div>
    </div>
  </div>
</footer>
