section{
  .logos{
    // position: absolute;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 20rem;
    height: 20rem;
  }
  .images{
    position: relative;
    top: 11rem;
    left: 13rem;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 18rem;
    height: 18rem;
  }
}
