section {

.logo {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 20rem;
}
.details{
  height: 50vh !important;
  transition: 1s !important;
  overflow: hidden;

}
.close{
  transition: 1s !important;
  height: 0vh !important;
  overflow: hidden;

}
}

