section {
  header {
    .custom-shape {
      clip-path: url(#custom);
      z-index: 3;
      right: 10%;
      top: 0%;
    }

    .mainText {
      position: absolute;
      z-index: 5;
      top: 25%;
      left: 15%;

      h1 {
        // background-color: rgb(255, 255, 255);
        border-radius: 5rem;
        font-size: 3.5rem;
      }

      h2 {
        background-color: rgb(255, 230, 0);
        border-radius: 5rem;
        font-size: 2.5rem;
      }

      .headerBtn:hover {
        background: linear-gradient(to left, #fcd51a, #b4d401) !important;
        font-weight: 600;
      }

    }
  }

  #homeBody {
    .section1 {
      .bgImg1 {
        // position: absolute;
        background-image: url(../../../assets/images/homeImage1.png);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        height: 14rem;
        width: 14rem !important;
      }

      .bgImg2 {
        // animation: spin 6s linear infinite;
        background-image: url(../../../assets/images/shape2.png);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        transform: translate(-50%, -50%);
        transform-origin: center;
        // background-attachment: fixed;
        height: 28rem;
      }

      h1 {
        font-size: 3.5rem;
        top: 0rem;
      }

      h3 {
        top: 14rem;
        left: 13rem;
      }
    }

    .section2 {
      h3 {
        font: 2.5rem;
        line-height: 1.6;
        bottom: -7rem;
        left: 3rem;
      }

      .bgImg3 {
        position: absolute;
        background-image: url(../../../assets/images/homeImg3.jpg);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        right: 5rem;
        // bottom: 50%;
        border-radius: 2rem;
        height: 14rem;
        width: 20rem !important;
      }

      .bgImg4 {
        position: absolute;
        background-image: url(../../../assets/images/images.jpg);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        // border: 2px solid red;
        top: 0rem !important;
        right: 20rem;
        border-radius: 50%;
        height: 14rem;
        width: 14rem !important;
      }
    }

    .section3 {
      h1 {
        position: absolute;
        font-size: 8rem;
        letter-spacing: 1rem;
        color: rgb(255, 255, 255);
        z-index: 6;
        bottom: -1rem;
        left: 5rem;
      }

      h3 {
        position: absolute;
        font-size: 1.5rem;
        line-height: 1.6;
        top: 3rem;
        right: 0rem;
        width: 60%;
        word-spacing: 0.5rem;
      }

      .bgImg5 {
        position: absolute;
        background-image: url(../../../assets/images/aboutusjpg.jpg);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        left: 5rem;
        border-radius: 2rem;
        height: 14rem;
        width: 20rem !important;
      }

      .bgImg6 {
        position: absolute;
        z-index: 5;
        background-image: url(../../../assets/images/blob.svg);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        top: 2rem !important;
        left: 16rem;
        height: 20rem;
        width: 20rem !important;
      }
    }

    .section4 {
      position: relative;

      h1 {
        font-size: 5rem;
        top: 35rem;
      }

      h3 {
        font-size: 1.3rem;
        position: absolute;
        top: 42rem;
        line-height: 1.5;
      }

      h4 {
        font-size: 1.3rem;
        position: absolute;
        top: 50rem;
        line-height: 1.5;
      }

      span {
        color: rgb(16, 84, 254);
        font-family: 'Cairo', sans-serif;
      }

      .bgImg7 {
        background-image: url(../../../assets/images/download.jpg);
        position: absolute;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        top: 40rem;
        right: 5rem;
        border-radius: 2rem;
        height: 14rem;
        width: 20rem !important;
      }

      .bgImg8 {
        background-image: url(../../../assets/images/genuine-work-from-home-jobs-uk.jpg);
        position: absolute;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        top: 52rem;
        right: 0rem;
        border-radius: 2rem;
        height: 10rem;
        width: 14rem !important;
      }

      .bgImg9 {
        background-image: url(../../../assets/images/blue-blob.svg);
        position: absolute;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        top: 48rem;
        right: 8rem;
        border-radius: 2rem;
        height: 20rem;
        width: 20rem !important;
      }
    }
  }
}

@media screen and (max-width: 1400px) and (min-width: 1200px) {
  header {
    .mainText {
      h1 {
        width: 90% !important;
      }

      h2 {
        width: 100% !important;
      }
    }

    img {
      width: 118% !important;
    }
  }

  #homeBody {
    .section1 {
      margin-top: 6rem !important;

      h1 {
        top: -3rem !important;
      }
    }

    .section3 {
      margin-top: 5rem !important;

      h1 {
        width: 90% !important;
      }

      h3 {
        top: 2rem !important;
      }

      .bottomH3 {
        top: 18rem !important;
      }

      .bottomH3_2 {
        top: 32rem !important;
      }
    }

    .section4 {
      h1 {
        top: 39rem !important;
      }

      h3 {
        top: 45rem !important;
      }

      h4 {
        margin-top: 4rem;
      }
    }
  }
}

// ____________---------------------'______________-
@media screen and (max-width: 1200px) and (min-width: 992px) {
  header {
    .mainText {
      h1 {
        width: 120% !important;
      }

      h2 {
        width: 125% !important;
      }
    }

    img {
      width: 140% !important;
    }
  }

  #homeBody {
    // left: 5rem !important;

    .section1 {
      margin-top: 6rem !important;

      h1 {
        top: -4rem !important;
      }

      h3 {
        left: 4rem !important;
      }
    }

    .section2 {
      .bgImg3 {
        right: 1rem !important;
      }

      .bgImg4 {
        right: 13rem !important;
      }
    }

    .section3 {
      margin-top: 0rem 5rem !important;

      h3 {
        top: 2rem !important;
      }

      .bottomH3 {
        top: 20rem !important;
      }

      .bottomH3_2 {
        top: 34rem !important;
      }
    }

    .section4 {
      h1 {
        left: -3rem !important;
        top: 43rem !important;
      }

      h3 {
        top: 48rem !important;
      }

      h4 {
        margin-top: 9rem;
      }

      .bgImg7 {
        top: 43rem !important;
      }

      .bgImg8 {
        top: 56rem !important;
      }

      .bgImg9 {
        top: 52rem !important;
      }
    }
  }
}

// ______________-------------------________________
@media screen and (max-width: 992px) and (min-width: 768px) {
  header {
    .mainText {
      h1 {
        width: 65% !important;
      }

      h2 {
        width: 65% !important;
      }

      h3 {
        width: 50% !important;
        color: rgb(0, 162, 255) !important;
      }
    }

    img {
      width: 143% !important;
    }
  }

  #homeBody {
    left: 5rem !important;

    .section1 {
      margin-top: 6rem !important;

      h1 {
        top: 0rem !important;
        left: 10rem !important;
        width: 75% !important;
      }

      h3 {
        top: 20rem !important;
        left: -2rem !important;
      }

      .bgImg1 {
        left: 0rem !important;
      }
      .sss{
        margin-right: -12rem !important;
      }
      .bgImg2Parent {
        width: 90% !important;
      }
    }

    .section2 {
      h3{
        bottom: -11rem !important;
        left: -3rem !important;
      }
      .bgImg3 {
        right: 2rem !important;
      }

      .bgImg4 {
        right: 10rem !important;
      }
    }

    .section3 {
      margin: 5rem 0rem !important;
      left: 0rem !important;
      position: relative;
      h1{
        left: -5rem !important;
      }
      h3 {
        top: 2rem !important;
        left: 15rem !important;
      }
      .bgImg5{
        left: -6rem !important;
      }
      .bottomH3 {
        top: 30rem !important;
        left: 0rem !important;
      }

      .bottomH3_2 {
        top: 44rem !important;
        left: 0rem !important;
      }
    }

    .section4 {
      h1 {
        left: -3rem !important;
        top: 43rem !important;
      }

      h3 {
        top: 48rem !important;
      }

      h4 {
        margin-top: 9rem;
      }

      .bgImg7 {
        top: 43rem !important;
      }

      .bgImg8 {
        top: 56rem !important;
      }

      .bgImg9 {
        top: 52rem !important;
      }
    }
  }
}
