section header {
  overflow: hidden !important;
}
section header .custom-shape {
  -webkit-clip-path: url(#custom);
          clip-path: url(#custom);
  z-index: 3;
  right: 5%;
  top: -5%;
}
@media screen and (max-width: 2000px) and (min-width: 992px) {
  section header .custom-shape {
    width: 900px !important;
    right: -5% !important;
  }
}
@media screen and (max-width: 992px) and (min-width: 767px) {
  section header .custom-shape {
    width: 850px !important;
    right: 9% !important;
  }
}
@media screen and (max-width: 767px) and (min-width: 300px) {
  section header .custom-shape {
    display: none !important;
  }
}
section header .mainText {
  z-index: 5;
}
section header .mainText h1 {
  font-size: 3.5rem;
  white-space: nowrap;
}
section header .mainText h2 {
  white-space: nowrap;
  font-size: 2.2rem;
}
section header .mainText .headerBtn:hover {
  background: linear-gradient(to left, #fcd51a, #b4d401) !important;
  font-weight: 600;
}
@media screen and (max-width: 600px) and (min-width: 400px) {
  section header h1 {
    font-size: 2.5rem !important;
    white-space: nowrap;
  }
  section header h2 {
    white-space: nowrap;
    font-size: 1.9rem !important;
  }
}
@media screen and (max-width: 399px) {
  section header h1 {
    font-size: 2rem !important;
    white-space: nowrap;
  }
  section header h2 {
    white-space: nowrap;
    font-size: 1.2rem !important;
  }
}
section #homeBody .section1 {
  overflow: hidden !important;
}
section #homeBody .section1 .bgImg1 {
  background-image: url(../../../assets/images/homeImage1.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 14rem;
  width: 14rem !important;
}
section #homeBody .section1 .bgImg2 {
  right: -30px;
  bottom: 0;
  background-image: url(../../../assets/images/shape2.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  transform-origin: center;
  width: 400px;
  height: 400px;
  z-index: -1 !important;
}
section #homeBody .section2 h3 {
  font: 2.5rem;
  line-height: 1.6;
  bottom: -7rem;
  left: 3rem;
}
section #homeBody .section2 .bgImg3 {
  background-image: url(../../../assets/images/homeImg3.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 2rem;
  height: 14rem;
  width: 20rem !important;
}
section #homeBody .section2 .bgImg4 {
  position: absolute;
  background-image: url(../../../assets/images/images.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  top: 50% !important;
  right: 50%;
  border-radius: 50%;
  height: 14rem;
  width: 14rem !important;
}
section #homeBody .section3 {
  overflow: hidden !important;
}
section #homeBody .section3 h1 {
  font-size: 8rem;
  letter-spacing: 1rem;
}
@media screen and (max-width: 767px) and (min-width: 586px) {
  section #homeBody .section3 h1 {
    font-size: 6rem !important;
    white-space: nowrap;
  }
}
@media screen and (max-width: 585px) and (min-width: 421px) {
  section #homeBody .section3 h1 {
    font-size: 4rem !important;
    white-space: nowrap;
  }
}
@media screen and (max-width: 420px) {
  section #homeBody .section3 h1 {
    font-size: 3rem !important;
    white-space: nowrap;
  }
}
section #homeBody .section3 h3 {
  line-height: 1.3;
  word-spacing: 0.5rem;
}
section #homeBody .section3 .bgImg5 {
  background-image: url(../../../assets/images/aboutusjpg.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 2rem;
  height: 14rem;
  width: 20rem !important;
}
@media screen and (max-width: 585px) {
  section #homeBody .section3 .bgImg5 {
    width: 25rem !important;
  }
}
section #homeBody .section3 .bgImg6 {
  position: absolute;
  z-index: 5;
  background-image: url(../../../assets/images/blob.svg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  top: 2rem !important;
  left: 16rem;
  height: 20rem;
  width: 20rem !important;
}
section #homeBody .section4 {
  position: relative;
}
section #homeBody .section4 h1 {
  font-size: 5rem;
}
@media screen and (max-width: 767px) and (min-width: 586px) {
  section #homeBody .section4 h1 {
    font-size: 4rem !important;
    white-space: nowrap;
  }
}
@media screen and (max-width: 585px) and (min-width: 421px) {
  section #homeBody .section4 h1 {
    font-size: 3rem !important;
    white-space: nowrap;
  }
}
@media screen and (max-width: 420px) {
  section #homeBody .section4 h1 {
    font-size: 3rem !important;
    white-space: nowrap;
  }
}
section #homeBody .section4 h3 {
  font-size: 1.3rem;
  line-height: 1.5;
}
section #homeBody .section4 span {
  color: rgb(16, 84, 254);
  font-family: "Cairo", sans-serif;
}
section #homeBody .section4 .bgImg7 {
  background-image: url(../../../assets/images/download.jpg);
  position: absolute;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  top: 1rem;
  right: 5rem;
  border-radius: 2rem;
  height: 14rem;
  width: 20rem !important;
}
section #homeBody .section4 .imgsec4 {
  background-image: url(../../../assets/images/download.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  margin: 20px 0;
  border-radius: 2rem;
  height: 40vh;
  width: 100% !important;
}
section #homeBody .section4 .bgImg8 {
  background-image: url(../../../assets/images/genuine-work-from-home-jobs-uk.jpg);
  position: absolute;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  top: 10rem;
  right: 0rem;
  border-radius: 2rem;
  height: 10rem;
  width: 14rem !important;
}
section #homeBody .section4 .bgImg9 {
  background-image: url(../../../assets/images/blue-blob.svg);
  position: absolute;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  top: 7rem;
  right: 11rem;
  border-radius: 2rem;
  height: 20rem;
  width: 20rem !important;
}

@media screen and (max-width: 2000px) and (min-width: 992px) {
  header {
    margin-bottom: 200px !important;
  }
  #homeBody section {
    margin-bottom: 200px !important;
  }
}
@media screen and (max-width: 992px) and (min-width: 767px) {
  header {
    margin-bottom: 100px !important;
  }
  #homeBody section {
    margin-bottom: 100px !important;
  }
  .section1 {
    margin-top: 200px !important;
  }
}
@media screen and (max-width: 767px) and (min-width: 300px) {
  header {
    margin-bottom: 100px !important;
  }
  #homeBody section {
    margin-bottom: 100px !important;
  }
}/*# sourceMappingURL=home.component.css.map */