<section class=" vh-100 w-100 mt-5">
  <header class="mt-5">
    <div class="container">
      <div class="row">
        <div class="mainText m-auto col-lg-5 col-12">
          <h1 class="p-3 w-75 mb-0 text-center text-black fw-bold">let us help you</h1>
          <div class="d-flex w-75 flex-column align-items-end">
            <h2 class="text-black p-3 mb-0 fw-semibold ms-3 text-center">make your dream </h2>
            <h2 class="text-black w-100 p-3 fw-semibold text-center">come true here</h2>
          </div>
          <h3 class="mt-4">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro facilis cupiditate facere
            iusto necessitatibus. Repellat, dolor obcaecati labore, qui suscipit impedit,</h3>
          <button class="btn mt-4 rounded-5 bg-white px-3 fs-3">Join Us Now</button>
        </div>
        <div class="custom-shape col-lg-7 col-12 d-flex position-absolute">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 900 900"
            version="1.1" width="900" height="900">
            <rect x="0" y="0" width="1000" height="900" fill="#BB004B" />
            <clipPath transform="translate(485.4342246512292 460.1397771192711)" id="custom">
              <path fill-rule="evenodd"
                d="M141.9 -194.4C187.4 -130.9 230.1 -89.5 270.9 -23.3C311.8 42.9 350.7 134 328.8 206.5C306.8 279.1 223.8 333.1 142.6 340.4C61.3 347.7 -18.2 308.2 -106 280.8C-193.7 253.3 -289.5 237.9 -346.3 180.2C-403 122.6 -420.6 22.7 -393.5 -58.6C-366.3 -139.9 -294.3 -202.5 -221.3 -261.1C-148.3 -319.7 -74.1 -374.4 -13 -358.9C48.2 -343.5 96.4 -257.9 141.9 -194.4"
                fill="#BB004B"></path>
            </clipPath>
          </svg>
          <img id="evenodd" class="w-100" src="../../../assets/images/gallery5.jpg" alt="">
        </div>
      </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
  </header>
  <section id="homeBody" class="my-5 position-relative">
    <div class="container">
      <div class="section1">
        <div class="row position-relative">
          <div class="col-md-5 offset-1 d-flex justify-content-start" style="margin-top: -3rem;">
            <div class="w-100">
              <div class="bgImg1 w-100"></div>
            </div>
            <div class="w-100">
              <h1 class="w-50 fw-bold" style="z-index: 5; position: absolute;">Velocity 360 is a team of real people,
                aligned in common values</h1>
              <h3 class="w-50" style="z-index: 5; position: absolute;">
                Our management services are best-in-class. We can
                manage your entire online presence or just your website.
                You pick your plan and we are all in. Our monthly pricing
                plan is fair and can be upgraded or downgraded at any
                time.
              </h3>
            </div>
          </div>
          <div class="col-md-5 d-flex justify-content-end pt-5">
            <div class="w-100">
              <div class="bgImg2 w-100"></div>
            </div>
          </div>
        </div>
      </div>
      <br>
      <br>
      <br>
      <div class="section2 my-5 pt-5">
        <div class="row position-relative">
          <div class="col-md-8 offset-1 d-flex justify-content-start">
            <div class="w-100">
              <!-- <h1 class="w-75">The Best Value comes from The Integrity of Successful & Working Perfectly.</h1> -->
              <h3 class="w-50" style="z-index: 5; position: absolute;">
                Our team is dedicated to helping you understand everything you need
                to know. We offer a wide range of affordable classes. Our pricing is
                transparent and fair. If you don't see a class you want, let us know
                and we might be able to help you.
              </h3>
            </div>
          </div>
          <div class="col-md-4 d-flex justify-content-end pt-5">
            <div class="w-100 d-flex justify-content-end">
              <div>
                <div class="bgImg3"></div>
              </div>
              <div class="bgImg4"></div>
            </div>
          </div>
        </div>
      </div>
      <br>
      <br>
      <br>
      <br>
      <br>
   
    </div>
  </section>
</section>
