<section class=" vh-100 w-100 mt-5">
  <header class="my-5">
    <div class="container">
      <div class="row">
        <div class="mainText m-auto col-12 d-flex flex-column align-items-start row">
          <div class=" col-lg-7 col-md-9 col-12 row ">
            <div class="bg-black p-2 rounded-50 col-10 mx-auto">
              <h1 class=" text-center text-white fw-bold">let us help you</h1>
            </div>
            <div class="d-flex col-12 flex-column align-items-end row m-0 p-0">

              <div class="  bg-main-color1 rounded-50 m-0 col-8">
                <h2 class="text-black  w-100 fw-semibold  text-center p-3">make your dream </h2>
              </div>

              <div class="  bg-main-color1 rounded-50 m-0 col-8" style="margin-right: 130px !important;">
                <h2 class="text-black  w-100 fw-semibold  text-center p-3">come true here </h2>
              </div>
            </div>
          </div>
          <div class=" col-lg-6 col-md-9 col-12 row ">
            <h3 class="mt-4 text-black">Our management services are best-in-class. We can
              manage your entire online presence or just your website.
              You pick your plan and we are all in. Our monthly pricing
              plan is fair and can be upgraded or downgraded at any
              time. </h3>
            <button class="btn headerBtn bg-black text-white mt-4 rounded-5 px-3 fs-3  col-md-6 col-8">Join Us
              Now</button>
          </div>

        </div>
        <div class="custom-shape col-lg-7 col-12 d-flex position-absolute">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 900 900"
            version="1.1" width="900" height="900">
            <rect x="0" y="0" width="1000" height="900" fill="#BB004B" />
            <clipPath transform="translate(485.4342246512292 460.1397771192711)" id="custom">
              <path fill-rule="evenodd"
                d="M141.9 -194.4C187.4 -130.9 230.1 -89.5 270.9 -23.3C311.8 42.9 350.7 134 328.8 206.5C306.8 279.1 223.8 333.1 142.6 340.4C61.3 347.7 -18.2 308.2 -106 280.8C-193.7 253.3 -289.5 237.9 -346.3 180.2C-403 122.6 -420.6 22.7 -393.5 -58.6C-366.3 -139.9 -294.3 -202.5 -221.3 -261.1C-148.3 -319.7 -74.1 -374.4 -13 -358.9C48.2 -343.5 96.4 -257.9 141.9 -194.4"
                fill="#BB004B"></path>
            </clipPath>
          </svg>
          <img class="" width="10600" src="../../../../docs/assets/images/header/beautiful-young-woman-home-office-working-from-home-teleworking-concept_144627-46786.avif" alt="">
          <!-- <iframe width="10600" height="900" src="https://www.youtube.com/embed/bmixiVwtDso" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe> -->
        </div>
      </div>
    </div>
  </header>

  <section id="homeBody" class="my-5 position-relative">
    <div class="container">
      <section class="section1">
        <div class="row position-relative col-12 ">
          <div class=" col-12 row">
            <div
              class="col-lg-4 col-md-6 col-12 d-flex align-items-center justify-content-start justify-content-md-end">
              <div class="bgImg1 w-100"></div>
            </div>
            <div class="col-lg-5 col-md-6 col-12 d-flex align-items-center">
              <h1 data-aos="fade-left" class=" fw-bold" style="z-index: 5;">X company is a
                team of real people,
                aligned in common values</h1>
            </div>
          </div>

          <div class=" col-12 mt-2">
            <div class="col-lg-6 col-md-10 col-12 offset-md-2 offset-0">
              <h3 class="" style="z-index: 5;">
                Our management services are best-in-class. We can
                manage your entire online presence or just your website.
                You pick your plan and we are all in. Our monthly pricing
                plan is fair and can be upgraded or downgraded at any
                time.
              </h3>
            </div>
          </div>
          <div class=" position-absolute bgImg2 d-md-block d-none"></div>
        </div>
      </section>

      <section class="section2 my-5 pt-5">
        <div class="row col-12 position-relative">
          <div class="col-12 col-lg-6 ">
            <h3 data-aos="fade-right">
              Our team is dedicated to helping you understand everything you need
              to know. We offer a wide range of affordable classes. Our pricing is
              transparent and fair. If you don't see a class you want, let us know
              and we might be able to help you.
            </h3>
          </div>
          <div
            class="col-12 col-lg-6 mt-3 mt-lg-0 d-flex justify-content-center justify-content-sm-end align-items-center position-relative">

            <div class="bgImg3"></div>

            <div class="bgImg4 d-sm-block d-none"></div>
          </div>
        </div>
      </section>

      <section class="section3 my-5 pt-5">
        <div class="row position-relative ">
          <h1 class="w-100 fw-bolder text-start text-black">About Us</h1>
          <div class="col-12 row">
            <div class="col-lg-5 col-12 mb-lg-0 mb-4 position-relative">
              <div class="bgImg5"></div>
              <div class="bgImg6 d-sm-block d-none"></div>
            </div>
            <div class="col-lg-7  col-12 ">
              <h3 class="">
                We are a Saudi American company headquartered in Saudi Arabia
                We provide all integrated marketing services, starting with studying the general situation of the
                company and its competitors in the market, and also developing an appropriate marketing strategy to
                achieve sales goals</h3>
            </div>
          </div>
          <div class=" col-md-10 col-12 mt-4">
            <h3>
              We also offer development studies as well
              as
              strategic studies. In addition, we provide all technical solutions in terms of developing and
              programming websites and smartphone applications by highly experienced technical engineers in the
              technical field and computer engineering.
              <br>
              <br>
              Digital marketing is a complex network of tools
              and
              services. We take the time to understand your organization and your customers, and then build a digital
              strategy capable of delivering remarkable results. Over two decades of experience has taught us how to
              create the perfect digital marketing strategy for any organization
            </h3>
          </div>
        </div>
      </section>

      <section class="section4 mt-5">
        <div class="row position-relative">

          <h1 class="w-100 fw-bolder ">Why <span>Choose</span> Us</h1>
          <div class=" col-lg-7 col-md-12 ">
            <div class=" col-12 imgsec4 d-sm-none d-block"></div>

            <h3 data-aos="fade-down" class="text-center ">We are an integrated 360 agency providing services Marketing
              Business consulting Developing websites and mobile programs Based in Saudi Arabia, it has a good
              reputation
              in the Gulf market
              <br>
              <br>
              So we are able to make a quantum leap for your
              company Where our team has sufficient experience in digital and field marketing and providing all services
              ,
              specializing in Search Engine Optimization (SEO), PPC, Remarketing, Email Marketing, Local SEO, Audience
              Building, Online PR, Paid Search, Social Media, and more.
            </h3>
          </div>

          <div
            class=" col-lg-5 col-md-12 d-flex align-items-center justify-content-center position-relative d-sm-block d-none">
            <div class="bgImg7"></div>
            <div class="bgImg8"></div>
            <div class="bgImg9"></div>

          </div>
        </div>
      </section>




    </div>
  </section>
  <app-footer></app-footer>
</section>
