nav{
  .mainUl{
    justify-content: space-between;
    // width: 50% !important;
    ul{
      justify-content: end;
      width: 65% !important;
      li{
        a{
        color: rgb(0, 0, 0) !important;
        font-size: 1.2rem;
        }
      }
    }
  }
}
