<nav class="navbar navbar-expand-lg bg-body-tertiary bg-transparent pt-3">
  <div class="container main">
    <a class="navbar-brand text-black w-25 d-flex align-items-center justify-content-start cursor-pointer">
      <img class="w-25 me-1"  routerLink="/home"
      src="../../../../docs/assets/images/preview-removebg-preview.png" alt="">
      <p  routerLink="/home">X company</p>
      <span class=" ms-2 m-0 p-0 text-black" *ngIf="userData.role == 'Admin'||userData.role == 'Super admin'" routerLink="/admin"><i class="bi bi-person-fill"></i></span>
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="mainUl collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ps-5">
        <li class="nav-item pe-lg-5 pe-0">
          <a class="nav-link" routerLink="/home">Home</a>
        </li>
        <li class="nav-item pe-lg-5 pe-0">
          <a class="nav-link" routerLink="/services">Services</a>
        </li>
        <li class="nav-item pe-lg-5 pe-0">
          <a class="nav-link" routerLink="/ourClients">Clients</a>
        </li>
        <li class="nav-item  pe-0">
          <a class="nav-link" routerLink="/contactUs" style="white-space: nowrap;">Contact Us</a>
        </li>
      </ul>
      <div class="signUp d-flex justify-content-end">
        <a *ngIf="!userLoggedIn" class="nav-link me-3 text-black" routerLink="/signUp">Sign Up</a>
        <a *ngIf="userLoggedIn" class="nav-link me-3 text-black" routerLink="/signUp" (click)="logOut()">Log Out</a>
        <a class=" ms-3 text-black cursor-pointer" *ngIf="role" (click)="cart()"><i class="bi bi-cart3"></i></a>
      </div>
    </div>
  </div>
</nav>
