nav{
    @media screen and (max-width: 992px) {
      z-index: 99 !important;
      background-color: rgb(255, 255, 255) !important;
      padding-bottom: 1rem;
    }
  .mainUl{
    justify-content: space-between;
    // width: 50% !important;
    ul{
      justify-content: end;
      width: 65% !important;
      li{
        a{
        color: rgb(0, 0, 0) !important;
        font-size: 1.2rem;
        }
      }
    }
  }
}
