<section class=" w-100 h-100 ">
  <h1 class=" fa">Add services</h1>
  <div class=" container mt-5">
    <div class="row m-0">
      <form [formGroup]="servicesForm" class=" col-12 row m-0 mb-3">

        <div class="col-12 col-sm-6 col-lg-3 my-2">
          <input type="text" class="w-100 border-0 border-bottom  p-2 " formControlName="servicesName"
            placeholder="Services name">
        </div>
        <div class="col-12 col-sm-6 col-lg-3 my-2">
          <input type="text" class="w-100 border-0 border-bottom  p-2 " formControlName="servicesDescription"
            placeholder="Services description">
        </div>
        <div class="col-12 col-sm-6 col-lg-3 my-2">
          <input type="text" class="w-100 border-0 border-bottom  p-2 " formControlName="servicesBrief"
            placeholder="Services brief">
        </div>
        <div class="col-12 col-sm-6 col-lg-3 my-2">
          <input type="number" class="w-100 border-0 border-bottom  p-2 " formControlName="servicesPrice"
            placeholder="Services price">
        </div>



      </form>
      <div class="col-12 row m-0 p-0 my-3 ">
        <div class=" col-12 row m-0">
          <!-- <label for="numP" class=" mx-3">pointes Number</label> -->
          <input type="number" min="1" max="20"  id="numP" class=" col-lg-2 col-md-5 col-7 mx-4 border-0 border-bottom  p-2 " placeholder="pointes Number" (keyup)="handelPointesForm($event)" (change)="handelPointesForm($event)">
        </div>
        <form [formGroup]="pointesForm" class=" col-12 row m-0" >
          <div class=" col-lg-3 col-md-6 col-12 p-3" *ngFor="let dummy of ' '.repeat(pointesNum).split(''), let i = index">
            <input type="text" class="w-100 border-0 border-bottom  p-2 my-2" formControlName="title{{i+1}}"  placeholder="Point {{i+1}} title ">
            <input type="text" class="w-100 border-0 border-bottom  p-2 my-2" formControlName="description{{i+1}}" placeholder="Point {{i+1}} description ">
          </div>
        </form>
      </div>



      <div class="col-12 d-flex justify-content-between mt-3">
        <div class="col-lg-2 col-md-3 col-3">
          <input type="file" class="d-none" id="servImgs" (change)="upload($event)">
          <label for="servImgs" class="btn btn-main box-shadow w-100"><i class="bi bi-images"></i></label>
        </div>
        <div class="col-lg-2 col-md-3 col-5">
          <!-- [disabled]="servicesForm.invalid && pointesForm.invalid" -->
          <button type="submit"
          (click)="addServices(servicesForm.value)"
            class=" btn rounded-3 btn-main ani w-100 text-white d-flex align-items-center justify-content-center">
            <app-loading *ngIf="loading"></app-loading>
            <p *ngIf="!loading" class="me-2">ADD</p>
          </button>

        </div>
      </div>

    </div>
  </div>
</section>
