<!-- <section>
  <form (ngSubmit)="createStripeToken()" class="checkout">
    <label for="card-info">Card Info</label>
    <div id="form-field">
      <div id="card-info" #cardInfo></div>
      <button id="submit-button" type="submit">
        Pay ${{_totalAmount}}
      </button>
      <mat-error id="card-errors" role="alert" *ngIf="cardError">
        <mat-icon style="color: #f44336">cancel</mat-icon>
        &nbsp;{{ cardError }}
      </mat-error>
    </div>
  </form>
</section> -->

<!-- <section>
  <div>
    <h2>Angular Stripe Checkout Page</h2>

    <div class="row mb-4" *ngFor="let item of userData.cartSchema">
      <div #item class=" box-shadow p-4">
        <div  class="col-12 img d-flex align-items-center justify-content-end" style="background-image: url({{item.productId.image}});">
          <i class="bi bi-trash-fill fs-4 cursor-pointer text-danger"  (click)="removeFromCart(item._id)"></i>
        </div>
        <div class="col-12">
          <p>{{item.productId.servicesName}}</p>
          <p class="main-color2">{{item.productId.servicesPrice}}$</p>
        </div>
      </div>
    </div>

    <div class="mt-4">
      <button class="btn px-3 btn-main" (click)="initializePayment(total)" >Pay Now</button>
    </div>
     <div>
      <button (click)="initializePayment(25)" >Payment $25</button>
    </div>
    <div>
      <button (click)="initializePayment(35)" >Payment of $35</button>
    </div>
  </div>
</section> -->
