/* You can add global styles to this file, and also import other style files */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css");
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
*{

  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  background-attachment: fixed;
  // font-family: 'Cairo', sans-serif;
  // font-family: 'Caveat', cursive;
  // font-family: 'Courgette', cursive;
  // font-family: 'Dancing Script', cursive;
  font-family: 'Raleway', sans-serif;
  // font-family: 'Satisfy', cursive;
  scroll-behavior: smooth;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
.main-color1{color: #fcd51a;}
.main-color2{color: #00a0e1;}
.bg-main-color1{background-color: #fcd51a;}
.bg-main-color2{background-color: #00a0e1;}
.btn-main {
  background-color: #fcd51a;
  transition: 0.5s !important;
  color: white;
}

.btn-main:hover {
  background: linear-gradient(to left top, #fcd51a, #00a0e1);
  color: white;
  transition: 1s !important;
}

.transition {
  transition: 0.5s;
}

.cursor-pointer {
  cursor: pointer;
}

.box-shadow {
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
}

textarea,
input:focus {
  outline: none !important;

}

input {
  background-color: rgb(255, 255, 255);

}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(0, 0, 0);
  opacity: 1;
  /* Firefox */
}

.main-input {
  background-color: rgb(164, 164, 164);

  ::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(0, 0, 0);
    opacity: 1;
    /* Firefox */
  }
}

.loading {
  color: #00a0e1;
  width: 24px;
  height: 24px;
}
.scroll {
  overflow-y: scroll !important;


}
.scrollX {

  overflow-x: scroll !important;

}

.scroll::-webkit-scrollbar {
  width: 5px;
  height: 5px;

}
.scroll::-webkit-scrollbar-track {
  background-color: #b09928;

}

.scroll::-webkit-scrollbar-thumb {
  background-color: #fcd51a;
}
.scrollX::-webkit-scrollbar {
  width: 5px;
  height: 0px;

}
.scrollX::-webkit-scrollbar-track {
  background-color: #b09928;

}

.scrollX::-webkit-scrollbar-thumb {
  background-color: #fcd51a;
}
.rounded-50{
  border-radius: 500px;
}
